* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Cool';
    src: url('/static/fonts/Baby.otf') format('truetype');
}

@font-face {
    font-family: 'MESSI';
    src: url('/static/fonts/SolidenTrial-Bold.otf') format('truetype');
}

body {
    background-image: linear-gradient(to bottom right, #67b3d6c2, rgb(53, 53, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: changeBackgroundColor 20s infinite alternate; /* Aplica la animación al fondo */

    /* Añade una transición para suavizar la animación de cambio de color */
    transition: filter 0.3s;
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #ff0000; /* Rojo */
    }
    14% {
        background-color: #ffaa00; /* Naranja */
    }
    28% {
        background-color: #ffff00; /* Amarillo */
    }
    42% {
        background-color: #00ff00; /* Verde */
    }
    57% {
        background-color: #0000ff; /* Azul */
    }
    71% {
        background-color: #aa00ff; /* Morado */
    }
    85% {
        background-color: #ff00aa; /* Rosa */
    }
    100% {
        background-color: #ff0000; /* Regreso a rojo */
    }
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-family: 'MESSI', sans-serif;
    font-size: 50px;
}

form {
    display: flex; /* Mostrar los elementos del formulario en línea */
    flex-direction: column; /* Mantener la alineación vertical de los elementos */
    align-items: center;
}

/* Estilo para el input con efecto croma */
input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    border: 3px solid rgb(238, 77, 77); /* Cambia el color del borde a azul */
    border-radius: 10px;
    text-align: left; /* Alinea el texto del campo de entrada a la izquierda */
    animation: changeColor 8s infinite alternate; /* Aplica la animación */

    /* Añade transición para el cambio de color en la animación */
    transition: filter 0.3s;
}

@keyframes changeColor {
    0% {
        filter: hue-rotate(0deg); /* Rojo */
    }
    14% {
        filter: hue-rotate(45deg); /* Naranja */
    }
    28% {
        filter: hue-rotate(90deg); /* Amarillo */
    }
    42% {
        filter: hue-rotate(135deg); /* Verde */
    }
    57% {
        filter: hue-rotate(180deg); /* Azul */
    }
    71% {
        filter: hue-rotate(225deg); /* Morado */
    }
    85% {
        filter: hue-rotate(270deg); /* Rosa */
    }
    100% {
        filter: hue-rotate(315deg); /* Regreso a rojo */
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.glow-on-hover {
    font-family: 'Cool', sans-serif;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:first-child {
    float: left;
    width: 100px; /* Ajusta el ancho según tus necesidades */
    font-size: 30px;
    height: 40px;
    margin-right: 50px; /* Agrega margen a la derecha para separarlos */
}

.glow-on-hover:last-child {
    float: left;
    width: 100px; /* Ajusta el ancho según tus necesidades */
    font-size: 30px;
    height: 40px;
    margin-left: 50px; /* Agrega margen a la derecha para separarlos */
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* NAV LIKTOK */
.list {
    position: fixed;
    justify-content: center;
    /* background: linear-gradient(to right,#73dacc, #3d3c3c); */
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Asegura que la barra de navegación esté en la parte superior */
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px 30px;
}

.list a {
    font-size: 24px; /* Aumenta el tamaño de la fuente de los enlaces */
    font-family: Arial, sans-serif;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

  .link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
  }

  .link::before,
  .link::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #00fffc;
      transform: scaleX(0);
      transition: transform 0.25s;
  }

  .link::before {
      top: -3px;
      transform-origin: left;
  }

  .link::after {
      bottom: -3px;
      transform-origin: right;
  }

  .link:hover::before,
  .link:hover::after,
  .active::before,
  .active::after {
      transform: scaleX(1);
  }